:root {
    --primary-color: #3498db;
    --secondary-color: #9ec6e1;
    --accent-color: #e74c3c;
    --text-color-light: #f5f5f5;
    --background-color: #9ec6e1;
    --card-background-color: #f5f5f5;
    --background-highlight-color: #fadfdf;
    --text-color: #333333;
  }

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0, 0, 0, 0.75)), url(profile_image.jpg);
    background-size: cover;
    background-position: center;
}

#navigationBar{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name{
    font-size: xx-large;
    font-weight: bold;
    padding: 0 5%;
    color: var(--primary-color);
}

#navigationBar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

#navigationBar ul li a{
    text-decoration: none;
    color: var(--text-color-light);
    text-transform: capitalize;
    transition: 0.3s;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}

#navigationBar ul li a:hover{
    background-color: var(--accent-color);
}

#navigationBar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transition: 0.1s;
}

#navigationBar ul li:hover::after{
    width: 0;
}

#banner-content{
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
}

#banner-content-title{
    font-size: x-large;
    padding: 10px;
    color: #3498db;
}

#name-in-banner-content-title{
    color: var(--accent-color);
    font-size: xx-large;
}

.banner-description{
    color: var(--text-color-light);
}

#experience-container{
    background-color: var(--background-color);
}

#experience-cards-container{
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 20px; /* Space between cards */
    padding-bottom: 10px; /* Space for scroll bar */
    scroll-behavior: smooth; /* Smooth scrolling when using arrow keys or buttons */
}

.section-title{
    padding: 10px;
}

.experience-card {
    flex: 0 0 40%; /* Set a fixed width for each card */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--card-background-color);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    transition: 0.3s, box-shadow 0.3s ease; /* Smooth transition */
}

.experience-card:hover{
    background-color: var(--background-highlight-color);
    /* transform: translateY(-10px); Move the card up slightly */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); /* Add a larger shadow for the pop-up effect */
}
  
.experience-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
  
.experience-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

#publication-list-container{
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 20px; /* Space between cards */
    padding-bottom: 10px; /* Space for scroll bar */
    scroll-behavior: smooth; /* Smooth scrolling when using arrow keys or buttons */
}
