* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    text-align: center;
    padding: 20px;
}


.brief-description {
    margin-top: 10px;
    font-size: 1.2em;
    color: #666;
}

.section {
    margin-top: 40px;
}

h2 {
    color: #444;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.4em;
}

.card p {
    color: #555;
}

#contact a {
    color: #0073e6;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-section {
    max-width: 100%;
}

.text-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.text-section p {
    font-size: 1rem;
    color: #555;
}
